---
# Metadata comes from _data/metadata.js
# Do not convert to WebC — it butchers the XML prolog
permalink: /feed/feed.xml
eleventyExcludeFromCollections: true,
eleventyImport:
    collections: ["pubs"]
---
<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom" xml:base="{{ metadata.language }}">
	<title>{{ metadata.title }}</title>
	<subtitle>{{ metadata.description }}</subtitle>
	<link href="{{ permalink | htmlBaseUrl(metadata.url) }}" rel="self"/>
	<link href="{{ metadata.url | addPathPrefixToFullUrl }}"/>
	<updated>{{ collections.pubs | getNewestCollectionItemDate | dateToRfc3339 }}</updated>
	<id>{{ metadata.url }}</id>
	<author>
		<name>{{ metadata.author.name }}</name>
		<email>{{ metadata.author.email }}</email>
	</author>
  <icon>{{ metadata.icon | htmlBaseUrl(metadata.url) }}</icon>
	{%- for post in collections.pubs | reverse | head(15) %}
	{%- set absolutePostUrl = post.page.url | htmlBaseUrl(metadata.url) %}
  {%- set fullPostTitle = post.data.title | fullTitle(post.data.subtitle, post.data.seriesTitle, post.data.number, metadata.title) %}
	<entry>
		<title>{{ fullPostTitle }}</title>
		<link href="{{ absolutePostUrl }}"/>
		<published>{{ post.page.date | dateToRfc3339 }}</published>
		<updated>{{ post.data.date_updated | default(post.page.date) | dateToRfc3339 }}</updated>
		<id>{{ absolutePostUrl }}</id>
    <author>
      <name>{{ metadata.author.name }}</name>
    </author>
    {%- for tag in post.data.tags %}
    <category term="{{ tag }}" />
    {%- endfor %}
		<content type="html">
      {%- if post.data.feature_image %}
      &lt;img alt=&quot;&quot; src=&quot;{{ post.data.feature_image | feedImage }}&quot;&gt;
      {%- endif %}
      {%- if post | isBook %}
      &lt;p&gt;&lt;strong&gt;A hot new book from Ruby Pink!&lt;/strong&gt;&lt;/p&gt;
      {%- endif %}
      {{ post.templateContent | transformWithHtmlBase(absolutePostUrl, post.page.url) }}
      {%- if post | isBook %}
      &lt;p&gt;&lt;a href="{{ post.data.amazon }}"&gt;Buy it now on Amazon!&lt;/a&gt;&lt;/p&gt;
      {%- endif %}
    </content>
	</entry>
	{%- endfor %}
</feed>
