.book__buy {
  background: var(--color-primary-container);
  border-radius: 0.25em;
  color: var(--color-on-primary-container);
  display: block;
  font-family: var(--system-fonts);
  font-size: 16px;
  font-weight: 500;
  line-height: 1;
  margin: auto;
  padding: 0.5em 1em;
  text-align: center;
  text-decoration: none;
  transition:
    color 0.2s,
    background-color 0.2s;

  &:hover,
  &:focus {
    background: var(--color-on-primary-container);
    color: var(--color-primary-container);
    text-decoration: none;
  }
}
