writing-progress {
  background: var(--color-bg-alt);
  border-radius: 0.5em;
  display: block;
  line-height: 1.4;
  padding: 1em;
  text-align: center;
}

.writing-progress__word-count {
  font-size: larger;
  margin-top: 0;

  strong {
    display: block;
    font-size: 1.5em;
  }
}

.writing-progress__schedule {
  color: var(--color-subtle);
  font-size: smaller;
  margin: 0;
}

.writing-progress__meter {
  appearance: none;
  border: none;
  border-radius: 0.5em;
  display: block;
  height: 0.5em;
  margin-block: 0.5em;
  overflow: hidden;
  width: 100%;

  &::-webkit-progress-bar {
    background: var(--color-bg);
  }

  &::-webkit-progress-value {
    background: var(--color-primary);
  }
}

.writing-progress__metrics {
  color: var(--color-subtle);
  margin: 0;
}

.goals__list {
  small {
    color: var(--color-subtle);
  }
}

.goals__history {
  align-items: center;
  display: flex;
  flex-direction: column;

  h2 {
    color: var(--color-primary);
    margin: 0;
  }

  ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  li {
    flex: 1;
    text-align: center;
  }
}
