writing-progress {
  background: var(--color-bg-alt);
  border-radius: 0.5em;
  display: block;
  line-height: 1.4;
  padding: 1em;
  text-align: center;
}

.writing-progress__word-count {
  font-size: larger;
  margin-top: 0;

  strong {
    display: block;
    font-size: 1.5em;
  }
}

.writing-progress__details {
  color: var(--color-subtle);
  margin: 0;
}

.writing-progress__meter {
  appearance: none;
  border: none;
  border-radius: 0.5em;
  display: block;
  height: 0.5em;
  margin-block: 0.5em;
  overflow: hidden;
  width: 100%;

  &::-webkit-progress-bar {
    background: var(--color-bg);
  }

  &::-webkit-progress-value {
    background: var(--color-primary);
  }
}

.writing-progress__metrics {
  color: var(--color-subtle);
  margin: 0;
}

.goals__list {
  small {
    color: var(--color-subtle);
  }
}

.goals__post-list {
  margin-block: 2em;
}

.goals__post-graph {
  margin-block: 2em;
}

.goals__history {
  align-items: center;
  display: flex;
  flex-direction: column;
  max-width: 100%;
  width: 100vw;

  h2 {
    color: var(--color-primary);
    margin: 0;
  }

  ul {
    display: grid;
    gap: 0.5em 1em;
    grid-template-columns: repeat(auto-fit, minmax(7ch, 1fr));
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
  }

  li {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
}
