.home.page {
  display: grid;
  gap: 1em;
  grid-template-areas: 'intro' 'book' 'shorts';
  grid-template-columns: 1fr;
  max-width: calc(200px * 5 + 40px * 4);

  @media screen and (width >= 48em) {
    grid-template-areas: 'intro book' 'shorts shorts';
    grid-template-columns: 1fr 1fr;
  }
}

.home__intro {
  background: var(--color-bg-alt);
  border-radius: 0.5em;
  font-size: 0.9em;
  grid-area: intro;
  padding: 1em;

  h1 {
    color: var(--color-primary);
    line-height: 1.1;
    margin: 0 0 0.5rem;
  }

  p {
    margin: 0;

    + p {
      margin-top: 0.5em;
    }
  }
}

.home__book {
  align-items: center;
  background: var(--color-bg-alt);
  border-radius: 0.5em;
  display: flex;
  grid-area: book;
}

.home__post-list {
  grid-area: shorts;
  text-align: center;

  h2 {
    color: var(--color-primary);
    margin: 0;
  }

  .post-list {
    margin-inline-start: 0;
    max-width: none;
    transform: none;
    width: auto;
  }

  :first-child {
    margin-top: 0;
  }

  :last-child {
    margin-bottom: 0;
  }
}

.home__see-all {
  align-items: center;
  display: flex;
  gap: 1em;
  margin-top: 3em;

  &::before,
  &::after {
    border-top: 1px solid var(--color-border-subtle, buttonborder);
    content: '';
    flex: 1;
  }
}
