.short__series-nav {
  display: flex;
  gap: 1em;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 0;

  .label {
    color: var(--color-subtle);
    display: block;
    font-size: smaller;
  }

  a {
    display: block;
    text-wrap: pretty;
  }

  li + li {
    text-align: right;
  }
}

.short__bundles {
  margin-top: 3em;
}
