.short__series-nav {
  display: flex;
  gap: 1em;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 0;

  .label {
    color: var(--color-subtle);
    display: block;
    font-size: smaller;
  }

  a {
    display: block;
    text-wrap: pretty;
  }

  li + li {
    text-align: right;
  }
}

.short__bundles {
  margin-top: 3em;
}

.bundle-promo {
  align-items: center;
  background: var(--color-bg-alt);
  border-radius: 0.5em;
  display: flex;
  font-size: 0.9em;
  gap: 1em;
  padding: 1em;
}

.bundle-promo__cover-link {
  flex: none;
  width: 100px;

  @media (width >= 30em) {
    width: 150px;
  }
}

.bundle-promo__cover-media {
  display: block;
}

.bundle-promo__blurb {
  flex: 1;

  p {
    margin: 0;

    + p {
      margin-top: 0.5em;
    }
  }
}
