@mixin theme-light() {
  --color-primary: #600029;
  --color-on-primary: #fff;
  --color-primary-container: #92244a;
  --color-on-primary-container: #ffe9ec;
  --color-bg: #fff8f7;
  --color-bg-alt: #fee9ec;
  --color-fg: #24191b;
  --color-subtle: #564145;
  --color-border: #897175;
  --color-border-subtle: #dcbfc4;
  --color-shadow: #897175;
  --color-link: var(--color-primary);
  --color-link-underline: #ffb1c2;
}

@mixin theme-dark() {
  --color-primary: #ffb1c2;
  --color-on-primary: #66002b;
  --color-primary-container: #720533;
  --color-on-primary-container: #ffb5c5;
  --color-bg: #281d1f;
  --color-bg-alt: #332729;
  --color-fg: #dcbfc4;
  --color-subtle: #a48a8f;
  --color-border: #a48a8f;
  --color-border-subtle: #564145;
  --color-shadow: #000;
  --color-link: var(--color-primary);
  --color-link-underline: #720533;
}

:root {
  @include theme-light;

  @media (prefers-color-scheme: dark) {
    @include theme-dark;
  }
}

.t-light {
  @include theme-light;
  background: var(--color-bg);
  color: var(--color-fg);
}

.t-dark {
  @include theme-dark;
  background: var(--color-bg);
  color: var(--color-fg);
}

html {
  color-scheme: light dark;
}

body {
  background: var(--color-bg);
  color: var(--color-fg);
}

a {
  color: var(--color-link, linktext);
  text-decoration-color: var(--color-link-underline, linktext);
  text-decoration-thickness: 0.0625em;
  text-underline-offset: 0.0938em;

  &:hover,
  &:focus {
    text-decoration-color: currentcolor;
    text-decoration-thickness: 0.0938em;
    text-underline-offset: auto;
  }
}

hr {
  border: 0;
  border-top: 1px solid var(--color-border-subtle, buttonborder);
  margin-block: 4em;
  width: 66%;
}

blockquote {
  border-left: 0.25em solid var(--color-border-subtle, buttonborder);
  margin-inline-start: 0;
  padding-inline: 0.75em;
}

.post__title {
  color: var(--color-primary);
}

.fin {
  align-items: center;
  display: flex;
  gap: 1em;
  margin: 3em 0;

  &::before,
  &::after {
    border-top: 1px solid var(--color-border-subtle, buttonborder);
    content: '';
    flex: 1;
  }
}
