img {
  height: auto;
  max-width: 100%;
}

@font-face {
  font-display: swap;
  font-family: "Mission Gothic";
  font-style: italic;
  font-weight: 900;
  src: url("/fonts/mission_gothic_black_italic.woff2") format("woff2");
}
:root {
  --system-fonts: ui-sans-serif, system-ui, sans-serif;
  --serif-fonts: georgia, serif;
  --mono-fonts: ui-monospace, consolas, monospace;
  --title-fonts: "Mission Gothic", var(--system-fonts);
  --body-weight: 400;
  --heading-weight: 900;
}
@media (prefers-color-scheme: dark) {
  :root {
    --body-weight: 300;
  }
}

html {
  font-size: 16px;
  font-weight: var(--body-weight);
}
@media screen and (width >= 48em) {
  html {
    font-size: 18px;
  }
}
@media screen and (width >= 64em) {
  html {
    font-size: 20px;
  }
}

body {
  font-family: var(--serif-fonts);
  line-height: 1.75;
}

h1,
h2,
h3 {
  font-family: var(--title-fonts);
  font-style: italic;
  font-weight: var(--heading-weight);
}

em em,
em i,
i em,
i i {
  font-style: normal;
}

.intro {
  font-size: 1.1em;
}

:root {
  --color-primary: #600029;
  --color-on-primary: #fff;
  --color-primary-container: #92244a;
  --color-on-primary-container: #ffe9ec;
  --color-bg: #fff8f7;
  --color-bg-alt: #fee9ec;
  --color-fg: #24191b;
  --color-subtle: #564145;
  --color-border: #897175;
  --color-border-subtle: #dcbfc4;
  --color-shadow: #897175;
  --color-link: var(--color-primary);
  --color-link-underline: #ffb1c2;
}
@media (prefers-color-scheme: dark) {
  :root {
    --color-primary: #ffb1c2;
    --color-on-primary: #66002b;
    --color-primary-container: #720533;
    --color-on-primary-container: #ffb5c5;
    --color-bg: #281d1f;
    --color-bg-alt: #332729;
    --color-fg: #dcbfc4;
    --color-subtle: #a48a8f;
    --color-border: #a48a8f;
    --color-border-subtle: #564145;
    --color-shadow: #000;
    --color-link: var(--color-primary);
    --color-link-underline: #720533;
  }
}

.t-light {
  --color-primary: #600029;
  --color-on-primary: #fff;
  --color-primary-container: #92244a;
  --color-on-primary-container: #ffe9ec;
  --color-bg: #fff8f7;
  --color-bg-alt: #fee9ec;
  --color-fg: #24191b;
  --color-subtle: #564145;
  --color-border: #897175;
  --color-border-subtle: #dcbfc4;
  --color-shadow: #897175;
  --color-link: var(--color-primary);
  --color-link-underline: #ffb1c2;
  background: var(--color-bg);
  color: var(--color-fg);
}

.t-dark {
  --color-primary: #ffb1c2;
  --color-on-primary: #66002b;
  --color-primary-container: #720533;
  --color-on-primary-container: #ffb5c5;
  --color-bg: #281d1f;
  --color-bg-alt: #332729;
  --color-fg: #dcbfc4;
  --color-subtle: #a48a8f;
  --color-border: #a48a8f;
  --color-border-subtle: #564145;
  --color-shadow: #000;
  --color-link: var(--color-primary);
  --color-link-underline: #720533;
  background: var(--color-bg);
  color: var(--color-fg);
}

html {
  color-scheme: light dark;
}

body {
  background: var(--color-bg);
  color: var(--color-fg);
}

a {
  color: var(--color-link, linktext);
  text-decoration-color: var(--color-link-underline, linktext);
  text-decoration-thickness: 0.0625em;
  text-underline-offset: 0.0938em;
}
a:hover, a:focus {
  text-decoration-color: currentcolor;
  text-decoration-thickness: 0.0938em;
  text-underline-offset: auto;
}

hr {
  border: 0;
  border-top: 1px solid var(--color-border-subtle, buttonborder);
  margin-block: 4em;
  width: 66%;
}

blockquote {
  border-left: 0.25em solid var(--color-border-subtle, buttonborder);
  margin-inline-start: 0;
  padding-inline: 0.75em;
}

.post__title {
  color: var(--color-primary);
}

.fin {
  align-items: center;
  display: flex;
  gap: 1em;
  margin: 3em 0;
}
.fin::before, .fin::after {
  border-top: 1px solid var(--color-border-subtle, buttonborder);
  content: "";
  flex: 1;
}

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  display: flex;
  flex-direction: column;
  gap: 1em;
  margin: 0;
  min-height: 100vh;
}
@media (width >= 42em) {
  body {
    gap: 2em;
  }
}
@media (width >= 80em) {
  body {
    gap: 3em;
  }
}

main {
  flex: 1;
  margin: 0 auto;
  padding: 0 1em;
}
@media (width >= 42em) {
  main {
    padding: 0 2em;
  }
}
@media (width >= 80em) {
  main {
    padding: 0 3em;
  }
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.app-header {
  background: var(--color-primary-container);
  color: var(--color-on-primary-container);
  padding: 1em;
  text-align: center;
  text-shadow: 0 0 0.1em black;
}
.app-header * {
  margin: 0;
}
.app-header a {
  color: currentcolor;
  text-decoration: none;
}
.app-header a:hover, .app-header a:focus {
  text-decoration: none;
}

@media (width >= 42em) {
  .app-header__content {
    display: grid;
    gap: 0.5em 1.5em;
    grid-template-areas: "title title" "description nav";
  }
}

.app-header__branding {
  align-items: center;
  display: flex;
  font-family: var(--title-fonts);
  font-size: 2em;
  font-style: italic;
  font-weight: 900;
  gap: 0.5em;
  grid-area: title;
  line-height: 1.1;
}
.app-header__branding::before, .app-header__branding::after {
  border-top: 1px solid currentcolor;
  content: "";
  flex: 1;
  opacity: 0.33;
}
@media (width >= 30em) {
  .app-header__branding {
    font-size: 2.5em;
  }
}

.app-header__description {
  font-style: italic;
  grid-area: description;
  opacity: 0.66;
}
@media (width >= 42em) {
  .app-header__description {
    text-align: right;
  }
}

.app-header__nav {
  grid-area: nav;
}

.app-header__nav-list {
  display: flex;
  gap: 1em;
  justify-content: center;
  list-style: none;
  padding: 0;
}
@media (width >= 42em) {
  .app-header__nav-list {
    justify-content: start;
    text-align: right;
  }
}

.app-header__nav-link[aria-current=page] {
  font-weight: bold;
}

.app-footer {
  font-size: smaller;
  padding-bottom: 2em;
  text-align: center;
}
.app-footer ul {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5em 1em;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0 1em;
}

.app-footer__copyright {
  color: var(--color-subtle);
  margin-bottom: 0.5em;
  margin-top: 0;
}

.book__buy {
  background: var(--color-primary-container);
  border-radius: 0.25em;
  color: var(--color-on-primary-container);
  display: block;
  font-family: var(--system-fonts);
  font-size: 16px;
  font-weight: 500;
  line-height: 1;
  margin: auto;
  padding: 0.5em 1em;
  text-align: center;
  text-decoration: none;
  transition: color 0.2s, background-color 0.2s;
}
.book__buy:hover, .book__buy:focus {
  background: var(--color-on-primary-container);
  color: var(--color-primary-container);
  text-decoration: none;
}

.book-promo {
  align-items: center;
  background: var(--color-bg-alt);
  border-radius: 0.5em;
  display: flex;
  font-size: 0.9em;
  gap: 1em;
  padding: 1em;
}
.book-promo + .book-promo {
  margin-top: 1em;
}

.book-promo__cover-link {
  align-self: start;
  flex: none;
  width: 100px;
}
@media (width >= 30em) {
  .book-promo__cover-link {
    width: 150px;
  }
}

.book-promo__cover-media {
  border-radius: 0.33em;
  display: block;
}

.book-promo__blurb {
  flex: 1;
}
.book-promo__blurb h2,
.book-promo__blurb h3,
.book-promo__blurb h4 {
  color: var(--color-primary);
  line-height: 1.1;
  margin: 0 0 0.5rem;
}
.book-promo__blurb h2 a,
.book-promo__blurb h3 a,
.book-promo__blurb h4 a {
  text-decoration: none;
}
.book-promo__blurb p {
  margin: 0;
}
.book-promo__blurb p + p {
  margin-top: 0.5em;
}

writing-progress {
  background: var(--color-bg-alt);
  border-radius: 0.5em;
  display: block;
  line-height: 1.4;
  padding: 1em;
  text-align: center;
}

.writing-progress__word-count {
  font-size: larger;
  margin-top: 0;
}
.writing-progress__word-count strong {
  display: block;
  font-size: 1.5em;
}

.writing-progress__details {
  color: var(--color-subtle);
  margin: 0;
}

.writing-progress__meter {
  appearance: none;
  border: none;
  border-radius: 0.5em;
  display: block;
  height: 0.5em;
  margin-block: 0.5em;
  overflow: hidden;
  width: 100%;
}
.writing-progress__meter::-webkit-progress-bar {
  background: var(--color-bg);
}
.writing-progress__meter::-webkit-progress-value {
  background: var(--color-primary);
}

.writing-progress__metrics {
  color: var(--color-subtle);
  margin: 0;
}

.goals__list small {
  color: var(--color-subtle);
}

.goals__history {
  align-items: center;
  display: flex;
  flex-direction: column;
}
.goals__history h2 {
  color: var(--color-primary);
  margin: 0;
}
.goals__history ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}
.goals__history li {
  flex: 1;
  text-align: center;
}

.home.page {
  display: grid;
  gap: 1em;
  grid-template-areas: "intro" "book" "shorts";
  grid-template-columns: 1fr;
  max-width: 1160px;
}
@media screen and (width >= 48em) {
  .home.page {
    grid-template-areas: "intro book" "shorts shorts";
    grid-template-columns: 1fr 1fr;
  }
}

.home__intro {
  background: var(--color-bg-alt);
  border-radius: 0.5em;
  font-size: 0.9em;
  grid-area: intro;
  padding: 1em;
}
.home__intro h1 {
  color: var(--color-primary);
  line-height: 1.1;
  margin: 0 0 0.5rem;
}
.home__intro p {
  margin: 0;
}
.home__intro p + p {
  margin-top: 0.5em;
}

.home__book {
  align-items: center;
  background: var(--color-bg-alt);
  border-radius: 0.5em;
  display: flex;
  grid-area: book;
}

.home__post-list {
  grid-area: shorts;
  text-align: center;
}
.home__post-list h2 {
  color: var(--color-primary);
  margin: 0;
}
.home__post-list .post-list {
  margin-inline-start: 0;
  max-width: none;
  transform: none;
  width: auto;
}
.home__post-list :first-child {
  margin-top: 0;
}
.home__post-list :last-child {
  margin-bottom: 0;
}

.home__see-all {
  align-items: center;
  display: flex;
  gap: 1em;
  margin-top: 3em;
}
.home__see-all::before, .home__see-all::after {
  border-top: 1px solid var(--color-border-subtle, buttonborder);
  content: "";
  flex: 1;
}

.page {
  max-width: 60ch;
}

.page__header {
  align-self: center;
  margin-bottom: 2em;
}

.page__description {
  color: var(--color-subtle);
  line-height: 1.4;
  margin-bottom: 0;
  text-align: center;
}

.page__title {
  color: var(--color-primary);
  font-size: 2em;
  line-height: 1;
  margin: 0;
  text-align: center;
  text-wrap: balance;
}
@media (width >= 25em) {
  .page__title {
    font-size: 2.5em;
  }
}
@media (width >= 30em) {
  .page__title {
    font-size: 3em;
  }
}

.post-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  gap: 2em;
  grid-template-columns: repeat(auto-fit, minmax(175px, 1fr));
  line-height: 1.3;
  margin-block: 1em;
  margin-inline-start: 50%;
  max-width: 81em;
  text-align: center;
  transform: translateX(-50%);
  width: calc(100vw - 4em);
}

.post-list__item {
  position: relative;
}

.post-list__title {
  background-image: var(--rainbow-gradient);
  font-stretch: 75%;
  font-weight: normal;
  margin-block: 0.25em;
  text-wrap: balance;
}

.post-list__title-link {
  text-decoration-color: transparent;
}
.post-list__title-link:hover, .post-list__title-link:focus {
  text-decoration-color: var(--color-link-underline, CanvasText);
}

.post-list__see-all {
  align-items: center;
  display: flex;
  gap: 1em;
  margin-top: 3em;
}
.post-list__see-all::before, .post-list__see-all::after {
  border-top: 1px solid var(--color-border-subtle, buttonborder);
  content: "";
  flex: 1;
}

.post-list__media-link {
  display: block;
  margin-block-end: 0.75em;
  margin-inline: auto;
  max-width: 200px;
  position: relative;
  transition: transform 0.2s ease-in-out;
}
@media screen and (width >= 42em) {
  .post-list__media-link {
    max-width: 250px;
  }
}
.post-list__media-link:hover, .post-list__media-link:focus {
  transform: scale(1.05);
}
.is-series.large .post-list__media-link::before, .is-series.large .post-list__media-link::after, .is-series.small .post-list__media-link::before, .is-series.small .post-list__media-link::after {
  background: #66002b;
  background: var(--color-border-subtle);
  border-radius: 0.5em;
  box-shadow: 1px 1px 3px var(--color-shadow);
  content: "";
  inset: 0;
  position: absolute;
  transform: rotate(-3deg);
  z-index: -1;
}
.is-series.large .post-list__media-link::after, .is-series.small .post-list__media-link::after {
  transform: rotate(5deg);
}
.is-series.small .post-list__media-link::after {
  display: none;
}

.post-list__media {
  margin: 0;
  max-width: 100%;
  border-radius: 0.5em;
  box-shadow: 1px 1px 3px var(--color-shadow);
  display: block;
}

.post-list__series {
  color: var(--color-subtle);
  font-size: 0.9em;
  margin-block: 0.5em;
}
@media screen and (width >= 48em) {
  .post-list__series {
    font-size: 0.7em;
  }
}

.post-list__excerpt {
  display: block;
  font-style: italic;
  margin: 0;
  text-wrap: balance;
}
@media screen and (width >= 48em) {
  .post-list__excerpt {
    font-size: smaller;
  }
}

.post-list__category {
  color: var(--color-subtle);
  font-size: 0.9em;
  margin-block: 0.5em;
}
@media screen and (width >= 48em) {
  .post-list__category {
    font-size: 0.7em;
  }
}

.post-list__date {
  color: var(--color-subtle);
  font-size: 0.9em;
  margin-block: 0.5em 0;
}
@media screen and (width >= 48em) {
  .post-list__date {
    font-size: 0.7em;
  }
}

.post-list__header {
  color: var(--color-primary);
  font-size: 2em;
  line-height: 1;
  margin: 0 0 3rem;
  text-align: center;
  text-wrap: balance;
}
@media (width >= 25em) {
  .post-list__header {
    font-size: 2.5em;
  }
}

:root {
  --epg-box: #e9ecef;
  --epg-box-highlight: #69db7c;
  --epg-text: #000;
}

@media (prefers-color-scheme: dark) {
  :root {
    --epg-box: #2d333b;
    --epg-box-highlight: #69db7c;
    --epg-text: #fff;
  }
}
.epg {
  color: var(--text);
  font-size: 0.8em;
  margin: 20px 0;
}

.epg__year {
  font-weight: bold;
  margin-bottom: 10px;
  text-align: center;
}

.epg__months {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

@media (width <= 410px) {
  .epg__months {
    display: none;
  }
}
.epg__squares {
  display: grid;
  grid-auto-flow: column;
  grid-gap: 2px;
  grid-template-rows: repeat(7, 1fr);
  margin-bottom: 10px;
}

.epg__box {
  aspect-ratio: 1/1;
  background: var(--epg-box);
}

.epg__box--empty {
  background: none;
}

.epg__hasPost {
  background: var(--epg-box-highlight);
}

.publication {
  display: grid;
  gap: 1em;
  grid-template-areas: "header cover" "content content" "footer footer";
  grid-template-columns: 1fr auto;
  /* stylelint-disable-next-line declaration-block-no-redundant-longhand-properties */
  grid-template-rows: min-content min-content 1fr;
}
@media (width >= 42em) {
  .publication {
    gap: 2em;
    grid-template-areas: "header header" "cover content" "footer content";
    grid-template-columns: auto 1fr;
    /* stylelint-disable-next-line declaration-block-no-redundant-longhand-properties */
    grid-template-rows: min-content min-content 1fr;
  }
}
@media (width >= 75em) {
  .publication {
    grid-template-areas: "header header header" "cover content footer";
    grid-template-columns: 200px minmax(min-content, 60ch) 200px;
    /* stylelint-disable-next-line declaration-block-no-redundant-longhand-properties */
    grid-template-rows: min-content 1fr;
  }
}
@media (width >= 80em) {
  .publication {
    gap: 2em 3em;
  }
}

.publication__cover {
  align-self: center;
  grid-area: cover;
  margin: 0;
  width: 100px;
}
@media (width >= 30em) {
  .publication__cover {
    width: 200px;
  }
}
@media (width >= 75em) {
  .publication__cover {
    align-self: start;
  }
}
.publication__cover figcaption {
  margin-top: 0.5em;
}

.publication__cover-media {
  border-radius: 0.33em;
  display: block;
}

.publication__header {
  align-self: center;
  grid-area: header;
}

.publication__content {
  grid-area: content;
}
.publication__content :first-child {
  margin-top: 0;
}

.publication__footer {
  font-size: 0.9em;
  grid-area: footer;
}
.publication__footer :first-child {
  margin-top: 0;
}
@media (width >= 42em) {
  .publication__footer {
    text-align: right;
  }
}
@media (width >= 75em) {
  .publication__footer {
    text-align: left;
  }
}

.publication__series {
  color: var(--color-subtle);
  font-style: italic;
  margin-block: 0 0.25em;
}
@media (width >= 42em) {
  .publication__series {
    text-align: center;
  }
}

.publication__title {
  color: var(--color-primary);
  font-size: 2em;
  line-height: 1;
  margin: 0;
  text-wrap: balance;
}
@media (width >= 25em) {
  .publication__title {
    font-size: 2.5em;
  }
}
@media (width >= 30em) {
  .publication__title {
    font-size: 3em;
  }
}
@media (width >= 42em) {
  .publication__title {
    text-align: center;
  }
}
@media (width >= 60em) {
  .publication__title {
    font-size: 4em;
  }
}

.publication__excerpt {
  color: var(--color-subtle);
  line-height: 1.4;
  margin-bottom: 0;
}
@media (width >= 42em) {
  .publication__excerpt {
    text-align: center;
  }
}

.publication__footer-label {
  color: var(--color-subtle);
  display: block;
  font-size: smaller;
  margin: 0;
}

.publication__tags {
  margin-block: 1em;
}

.publication__footer-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

@media (width < 42em) {
  .publication__footer-list-item {
    display: inline;
  }
  .publication__footer-list-item::after {
    color: var(--color-subtle);
    content: ", ";
  }
}

.short__series-nav {
  display: flex;
  gap: 1em;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 0;
}
.short__series-nav .label {
  color: var(--color-subtle);
  display: block;
  font-size: smaller;
}
.short__series-nav a {
  display: block;
  text-wrap: pretty;
}
.short__series-nav li + li {
  text-align: right;
}

.short__bundles {
  margin-top: 3em;
}

.tag-list__count {
  color: var(--color-subtle);
  display: block;
  font-size: smaller;
}

/*# sourceMappingURL=style.css.map */
