img {
  height: auto;
  max-width: 100%;
}

@font-face {
  font-display: swap;
  font-family: "Mission Gothic";
  font-style: italic;
  font-weight: 900;
  src: url("/fonts/mission_gothic_black_italic.woff2") format("woff2");
}
:root {
  --system-fonts: ui-sans-serif, system-ui, sans-serif;
  --serif-fonts: georgia, serif;
  --mono-fonts: ui-monospace, consolas, monospace;
  --title-fonts: "Mission Gothic", var(--system-fonts);
  --body-weight: 400;
  --heading-weight: 900;
}
@media (prefers-color-scheme: dark) {
  :root {
    --body-weight: 300;
  }
}

html {
  font-size: 16px;
  font-weight: var(--body-weight);
}
@media screen and (width >= 48em) {
  html {
    font-size: 18px;
  }
}
@media screen and (width >= 64em) {
  html {
    font-size: 20px;
  }
}

body {
  font-family: var(--serif-fonts);
  line-height: 1.75;
}

h1,
h2,
h3 {
  font-family: var(--title-fonts);
  font-style: italic;
  font-weight: var(--heading-weight);
}

em em,
em i,
i em,
i i {
  font-style: normal;
}

.intro {
  font-size: 1.1em;
}

:root {
  --color-primary: #a0004d;
  --color-on-primary: #fff;
  --color-bg: #fff8f7;
  --color-bg-alt: #fee9ec;
  --color-fg: #24191b;
  --color-subtle: #564145;
  --color-border: #897175;
  --color-border-subtle: #dcbfc4;
  --color-shadow: #897175;
  --color-link: var(--color-primary);
  --color-link-underline: #ffb1c2;
}
@media (prefers-color-scheme: dark) {
  :root {
    --color-primary: #ffb1c2;
    --color-on-primary: #66002b;
    --color-bg: #281d1f;
    --color-bg-alt: #332729;
    --color-fg: #dcbfc4;
    --color-subtle: #a48a8f;
    --color-border: #a48a8f;
    --color-border-subtle: #564145;
    --color-shadow: #000;
    --color-link: var(--color-primary);
    --color-link-underline: #720533;
  }
}

.t-light {
  --color-primary: #a0004d;
  --color-on-primary: #fff;
  --color-bg: #fff8f7;
  --color-bg-alt: #fee9ec;
  --color-fg: #24191b;
  --color-subtle: #564145;
  --color-border: #897175;
  --color-border-subtle: #dcbfc4;
  --color-shadow: #897175;
  --color-link: var(--color-primary);
  --color-link-underline: #ffb1c2;
  background: var(--color-bg);
  color: var(--color-fg);
}

.t-dark {
  --color-primary: #ffb1c2;
  --color-on-primary: #66002b;
  --color-bg: #281d1f;
  --color-bg-alt: #332729;
  --color-fg: #dcbfc4;
  --color-subtle: #a48a8f;
  --color-border: #a48a8f;
  --color-border-subtle: #564145;
  --color-shadow: #000;
  --color-link: var(--color-primary);
  --color-link-underline: #720533;
  background: var(--color-bg);
  color: var(--color-fg);
}

html {
  color-scheme: light dark;
}

body {
  background: var(--color-bg);
  color: var(--color-fg);
}

a {
  color: var(--color-link, linktext);
  text-decoration-color: var(--color-link-underline, linktext);
  text-decoration-thickness: 0.0625em;
  text-underline-offset: 0.0938em;
}
a:hover, a:focus {
  text-decoration-color: currentcolor;
  text-decoration-thickness: 0.0938em;
  text-underline-offset: auto;
}

hr {
  border: 0;
  border-top: 1px solid var(--color-border-subtle, buttonborder);
  margin-block: 4em;
  width: 66%;
}

blockquote {
  border-left: 0.25em solid var(--color-border-subtle, buttonborder);
  margin-inline-start: 0;
  padding-inline: 0.75em;
}

.post__title {
  color: var(--color-primary);
}

.fin {
  align-items: center;
  display: flex;
  gap: 1em;
  margin: 3em 0;
}
.fin::before, .fin::after {
  border-top: 1px solid var(--color-border-subtle, buttonborder);
  content: "";
  flex: 1;
}

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  display: flex;
  flex-direction: column;
  gap: 3em;
  margin: 0;
  min-height: 100vh;
}

main {
  flex: 1;
  margin: 0 auto;
  padding: 0 1em;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.app-header {
  border-bottom: 1px solid hotpink;
}

.app-footer {
  font-size: smaller;
  padding-bottom: 2em;
  text-align: center;
}
.app-footer ul {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5em 1em;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0 1em;
}

.app-footer__copyright {
  color: var(--color-subtle);
  margin-bottom: 0.5em;
  margin-top: 0;
}

.page {
  max-width: 60ch;
}

.page__header {
  align-self: center;
}

.page__title {
  color: var(--color-primary);
  font-size: 2em;
  line-height: 1;
  margin: 0;
  text-wrap: balance;
}
@media (width >= 25em) {
  .page__title {
    font-size: 2.5em;
  }
}
@media (width >= 30em) {
  .page__title {
    font-size: 3em;
  }
}
@media (width >= 42em) {
  .page__title {
    text-align: center;
  }
}
@media (width >= 60em) {
  .page__title {
    font-size: 4em;
  }
}

.post-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  gap: 2em;
  grid-template-columns: repeat(auto-fill, minmax(175px, 1fr));
  line-height: 1.3;
  margin-block: 1em;
  margin-inline-start: 50%;
  max-width: 81em;
  text-align: center;
  transform: translateX(-50%);
  width: calc(100vw - 4em);
}

.post-list__item {
  position: relative;
}

.post-list__media-link {
  display: block;
  margin-block-end: 0.5em;
  margin-inline: auto;
  max-width: 200px;
  position: relative;
  transition: transform 0.2s ease-in-out;
}
@media screen and (width >= 42em) {
  .post-list__media-link {
    max-width: 250px;
  }
}
.post-list__media-link:hover, .post-list__media-link:focus {
  transform: scale(1.05);
}
.is-series.large .post-list__media-link::before, .is-series.large .post-list__media-link::after, .is-series.small .post-list__media-link::before, .is-series.small .post-list__media-link::after {
  background: #66002b;
  background: var(--color-border-subtle);
  border-radius: 0.5em;
  box-shadow: 1px 1px 3px var(--color-shadow);
  content: "";
  inset: 0;
  position: absolute;
  transform: rotate(-3deg);
  z-index: -1;
}
.is-series.large .post-list__media-link::after, .is-series.small .post-list__media-link::after {
  transform: rotate(5deg);
}
.is-series.small .post-list__media-link::after {
  display: none;
}

.post-list__media {
  margin: 0;
  max-width: 100%;
  border-radius: 0.5em;
  box-shadow: 1px 1px 3px var(--color-shadow);
  display: block;
}

.post-list__date {
  color: var(--color-subtle);
  font-size: 0.9em;
  margin-block-end: 0.5em;
}
@media screen and (width >= 48em) {
  .post-list__date {
    font-size: 0.7em;
  }
}

.post-list__title {
  background-image: var(--rainbow-gradient);
  font-stretch: 75%;
  font-weight: normal;
  margin-block: 0.1em 0.25em;
  text-wrap: balance;
}

.post-list__title-link {
  text-decoration-color: transparent;
}
.post-list__title-link:hover, .post-list__title-link:focus {
  text-decoration-color: var(--color-link-underline, CanvasText);
}

.post-list__excerpt {
  display: block;
  font-style: italic;
  margin: 0;
  text-wrap: balance;
}
@media screen and (width >= 48em) {
  .post-list__excerpt {
    font-size: smaller;
  }
}

.post-list__category {
  color: var(--color-subtle);
  font-size: 0.9em;
  margin-block: 0 0.5em;
}
@media screen and (width >= 48em) {
  .post-list__category {
    font-size: 0.7em;
  }
}

.short {
  display: grid;
  gap: 1em 2em;
  grid-template-areas: "header cover" "content content" "footer footer";
  grid-template-columns: 1fr auto;
  /* stylelint-disable-next-line declaration-block-no-redundant-longhand-properties */
  grid-template-rows: min-content min-content 1fr;
}
@media (width >= 42em) {
  .short {
    gap: 2em 3em;
    grid-template-areas: "header header" "cover content" "footer content";
    grid-template-columns: auto 1fr;
    /* stylelint-disable-next-line declaration-block-no-redundant-longhand-properties */
    grid-template-rows: min-content min-content 1fr;
  }
}
@media (width >= 75em) {
  .short {
    grid-template-areas: "header header header" "cover content footer";
    grid-template-columns: 200px minmax(min-content, 60ch) 200px;
    /* stylelint-disable-next-line declaration-block-no-redundant-longhand-properties */
    grid-template-rows: min-content 1fr;
  }
}

.short__cover {
  align-self: center;
  grid-area: cover;
  margin: 0;
  width: 100px;
}
@media (width >= 30em) {
  .short__cover {
    width: 200px;
  }
}
@media (width >= 75em) {
  .short__cover {
    align-self: start;
  }
}

.short__header {
  align-self: center;
  grid-area: header;
}

.short__content {
  grid-area: content;
}
.short__content :first-child {
  margin-top: 0;
}

.short__footer {
  font-size: 0.9em;
  grid-area: footer;
}
.short__footer :first-child {
  margin-top: 0;
}
@media (width >= 42em) {
  .short__footer {
    text-align: right;
  }
}
@media (width >= 75em) {
  .short__footer {
    text-align: left;
  }
}

.short__title {
  color: var(--color-primary);
  font-size: 2em;
  line-height: 1;
  margin: 0;
  text-wrap: balance;
}
@media (width >= 25em) {
  .short__title {
    font-size: 2.5em;
  }
}
@media (width >= 30em) {
  .short__title {
    font-size: 3em;
  }
}
@media (width >= 42em) {
  .short__title {
    text-align: center;
  }
}
@media (width >= 60em) {
  .short__title {
    font-size: 4em;
  }
}

.short__excerpt {
  color: var(--color-subtle);
  line-height: 1.4;
  margin-bottom: 0;
}
@media (width >= 42em) {
  .short__excerpt {
    text-align: center;
  }
}

.short__date .label,
.short__category .label {
  color: var(--color-subtle);
  display: block;
  font-size: smaller;
}

.short__tags {
  margin-block: 1em;
}

.short__tags-intro {
  color: var(--color-subtle);
  font-size: smaller;
  margin: 0;
}

.short__tags-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

@media (width < 42em) {
  .short__tag {
    display: inline;
  }
  .short__tag::after {
    color: var(--color-subtle);
    content: ", ";
  }
}

.short__series-nav {
  display: flex;
  gap: 1em;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 0;
}
.short__series-nav .label {
  color: var(--color-subtle);
  display: block;
  font-size: smaller;
}
.short__series-nav a {
  display: block;
  text-wrap: pretty;
}
.short__series-nav li + li {
  text-align: right;
}

/*# sourceMappingURL=style.css.map */
